<div id="ForgotPassView" class="m-t-n-50">

    <div class="container">

        <div class="row">
            <div class="col-xs-2">
                <a href="#login" class="c-white">
                    <i class="fa fa-angle-left f-35 p-t-5"></i>
                </a>
            </div>
            <div class="col-xs-8">
                <p class="f-24 text-center c-white p-t-10"> Forgot Password </p>
            </div>
        </div>
        <div class="row p-t-20">
            <div class="col-xs-12">
                <div class="well well-sm">

                    <form id="forgotPasswordForm" class="form-horizontal" action="javascript:void(0)">
                        <fieldset>

                            <div class="form-group m-0">
                                <label for="emailId" class="control-label col-sm-3"> Email </label>
                                <div class="col-sm-5">
                                    <input id="emailId" class="form-control" type="email" placeholder="Email" name="emailId">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 hidden-xs">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div>
                                <div class="col-xs-12 text-center visible-xs">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>