<div id="RegistrationView" class="m-t-n-50">

    <div class="container">

        <div class="row">
            <div class="col-xs-3">
                <a href="#login" class="c-white">
                    <i class="fa fa-angle-left f-35 p-t-5"></i>
                </a>
            </div>
            <div class="col-xs-6">
                <p class="f-24 text-center c-white p-t-10"> Register </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="well well-sm">

                    <form id="newRegisterForm" class="form-horizontal" action="javascript:void(0)">
                        <fieldset>

                            <div class="form-group m-0">
                                <label for="firstName" class="control-label col-sm-3"> First Name </label>
                                <div class="col-sm-5">
                                    <input id="firstName" class="form-control" type="text" placeholder="First Name" name="firstName">
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <label for="lastName" class="control-label col-sm-3"> Last Name </label>
                                <div class="col-sm-5">
                                    <input id="lastName" class="form-control" type="text" placeholder="Last Name" name="lastName">
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <label for="company" class="control-label col-sm-3"> Company </label>
                                <div class="col-sm-5">
                                    <input id="company" class="form-control" type="text" placeholder="Company" name="company">
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <label for="emailId" class="control-label col-sm-3"> Email </label>
                                <div class="col-sm-5">
                                    <input id="emailId" class="form-control" type="email" placeholder="Email" name="emailId">
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <label for="phoneNo" class="control-label col-sm-3"> Phone </label>
                                <div class="col-sm-5">
                                    <input id="phoneNo" class="form-control phoneNoInput" type="tel" name="phoneNo">
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <label for="password" class="control-label col-sm-3"> Password </label>
                                <div class="col-sm-5">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                </div>
                            </div>
                            <div class="form-group m-0">
                                <label for="confirmPassword" class="control-label col-sm-3"> Confirm password </label>
                                <div class="col-sm-5">
                                    <input id="confirmPassword" class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 hidden-xs">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div>
                                <div class="col-xs-12 text-center visible-xs">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>