div.timepicker {
  width: 220px;
  background: #fafafa;
  position: fixed;
  border: 1px solid #ccc;
  font: normal 200 10pt sans-serif, Arial, Verdana;
  color: #6f6f6f;
  box-shadow: 0 0 4px #cecece;
  z-index: 10000 !important;
}

div.timepicker .time {
  background: #fafafa;
  width: 100%;
  font-size: 2.2em;
  text-align: center;
  position: relative;
  padding: 5px 0
}

div.timepicker .time .hour, div.timepicker .time .minute {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer
}

div.timepicker .time .hour.active, div.timepicker .time .minute.active {
  color: #0d8aee
}

div.timepicker .time .hour:hover, div.timepicker .time .minute:hover {
  color: #2196f3
}

div.timepicker .time div.am_pm {
  font-size: 0.6em;
  padding-left: 10px;
  display: inline
}

div.timepicker .time div.am_pm span.ampm_button {
  width: 0;
  display: inline-block;
  vertical-align: middle
}

div.timepicker .time div.am_pm span.ampm_button:hover {
  cursor: pointer;
  color: #2196f3
}

div.timepicker .canvas {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #ccc;
  position: relative;
  z-index: 2
}

div.timepicker .canvas .faceH, div.timepicker .canvas .faceM {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  font-size: 1em
}

div.timepicker .canvas .faceH span, div.timepicker .canvas .faceM span {
  display: block;
  position: absolute;
  color: #6f6f6f;
  text-align: center;
  vertical-align: middle;
  cursor: inherit
}

div.timepicker .canvas .faceH span.outerH, div.timepicker .canvas .faceM span.outerH {
  font-size: .8em
}

div.timepicker .canvas .faceH span:hover, div.timepicker .canvas .faceM span:hover {
  background: rgba(33, 150, 243, .4);
  border-radius: 50%
}

div.timepicker .canvas .arrow {
  width: 0;
  height: 0;
  padding: 30px 1px 0;
  margin: -30px -1px 0;
  -webkit-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  background: rgba(33, 150, 243, .4);
  position: absolute;
  top: 50%;
  left: 50%
}

div.timepicker .canvas .arrow:after {
  content: " ";
  background: rgba(33, 150, 243, .4);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -25px;
  left: -11px
}

div.timepicker .canvas .arrow:before {
  content: " ";
  background: rgba(33, 150, 243, .4);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: -1px
}

div.timepicker .buttons {
  background: #fafafa;
  width: 100%;
  text-align: right
}

div.timepicker .buttons .cancel-button, div.timepicker .buttons .done-button {
  padding: 10px 0;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 55px
}

div.timepicker .buttons .cancel-button:hover, div.timepicker .buttons .done-button:hover {
  color: #2196f3
}

div.timepicker .buttons .done-button {
  margin-right: 10px
}

.timepicker.timepicker-dark {
  background: #323232;
  border: 1px solid #292929;
  color: #cbcbcb;
  box-shadow: 0 0 4px #cecece
}

.timepicker.timepicker-dark .time {
  background: #323232;
  color: #999
}

.timepicker.timepicker-dark .time .hour.active, .timepicker.timepicker-dark .time .minute.active {
  color: #dc004e
}

.timepicker.timepicker-dark .time .hour:hover, .timepicker.timepicker-dark .time .minute:hover {
  color: #f50057
}

.timepicker.timepicker-dark .time .am_pm .ampm_button:hover {
  color: #f50057
}

.timepicker.timepicker-dark .canvas {
  background: #323232;
  border: 1px solid #292929;
  box-shadow: inset 0 0 20px #292929
}

.timepicker.timepicker-dark .canvas .faceH span, .timepicker.timepicker-dark .canvas .faceM span {
  color: #cbcbcb
}

.timepicker.timepicker-dark .canvas .faceH span:hover, .timepicker.timepicker-dark .canvas .faceM span:hover {
  background: rgba(245, 0, 87, .4)
}

.timepicker.timepicker-dark .canvas .arrow {
  background: rgba(245, 0, 87, .4)
}

.timepicker.timepicker-dark .canvas .arrow:after {
  background: rgba(245, 0, 87, .4)
}

.timepicker.timepicker-dark .canvas .arrow:before {
  background: rgba(245, 0, 87, .4)
}

.timepicker.timepicker-dark .buttons {
  background: #323232;
  color: #999
}

.timepicker.timepicker-dark .buttons .cancel-button:hover, .timepicker.timepicker-dark .buttons .done-button:hover {
  color: #f50057
}