<div id="SettingChangePassView">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="f-24 c-white p-t-10"> Change Password </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="well well-lg">
                    <a id="closeSettingChangePass" type="button" class="close" aria-hidden="true">×</a>
                    <form id="settingChangePasswordForm" class="form-horizontal" action="javascript:void(0)">
                        <fieldset>
                            <div class="form-group label-floating">
                                <label class="control-label" for="password">New Password</label>
                                <input id="password" class="form-control" type="password" name="password">
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label" for="confirmPassword">Confirm Password</label>
                                <input id="confirmPassword" class="form-control" type="password" name="confirmPassword">
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 hidden-xs">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div>
                                <div class="col-xs-12 text-center visible-xs">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>