/*DeviceCalendarView*/


.device-cal-tabs.active{
  border-bottom : 3px solid @amber;
}
.device-cal-tabs{
  width: 33.33%;
  border-right: 1px solid  #9E9E9E;
}


.m-t-n-10{
  margin-top: -10px;
}

.selector{
  padding: 0 !important;
}


.fixedTabHeader{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 100;
}
