/*ApplianceListView*/


.dataTables_filter{
  text-align: left !important;
  label{
    width: 60% !important;
    margin: 0 !important;
    div.form-group{
      margin: 0 !important;
      width: 100% !important;
      input{
        width: 100% !important;
      }
    }
  }
}


.refreshTableButton{
  position: absolute;
  right: 30px;
  top: 55px;
}

.customGray {
  color: #c0c0c0;
}