/*LandingPageView*/
.comingSoon{
  -webkit-animation: fadeInRotate 1s linear 16s backwards !important;
  -moz-animation: fadeInRotate 1s linear 16s backwards !important;
  -ms-animation: fadeInRotate 1s linear 16s backwards !important;
  animation: fadeInRotate 1s linear 16s backwards !important;
  -webkit-transform: scale(1) rotate(0deg) !important;
  -moz-transform: scale(1) rotate(0deg) !important;
  -o-transform: scale(1) rotate(0deg) !important;
  -ms-transform: scale(1) rotate(0deg) !important;
  transform: scale(1) rotate(0deg) !important;
}
