<div id="UserRemovalView">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="c-white text-center m-t-10 m-b-15">Approved Users</h4>
                <div class="well well-sm p-t-10">
                    <table class="table table-condensed dt-responsive" id="userAccessTable">
                        <thead>
                        <tr>
                            <th>User Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>