<div id="CalendarView">

    <div class="row">
        <div>
            <div class="well well-sm">
                <div id="multiDateCalendar">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="well well-sm">
                <span id="calLegendHeader">
                <a class="btn bg-white btn-block" role="button" data-toggle="collapse" href="#legendCollapse" aria-expanded="false" aria-controls="legendCollapse">
                    <span class="lead">Legend</span>
                    <i class="fa fa-chevron-down"></i>
                </a>
                </span>
                <div class="collapse" id="legendCollapse">
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="legendDate "><span class="weeklyScheduleSpan">12</span></td>
                            <td class="legendText">From weekly schedule</td>
                        </tr>
                        <tr>
                            <td class="legendDate"><span class="dayScheduleSpan">12</span></td>
                            <td class="legendText">Custom daily schedule</td>
                        </tr>
                        <tr>
                            <td class="legendDate todayTd"><span class="todaySpan">12</span></td>
                            <td class="legendText">Today</td>
                        </tr>
                        <tr>
                            <td class="legendDate"><span class="holidaySpan">12</span></td>
                            <td class="legendText">Holiday</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for custom day schedule -->
    <div class="modal" id="customDateModal">
        <div class="modal-dialog  p-t-50">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Custom schedule</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">Please set a schedule for the day : <span id="pickedCustomDay"></span></p>

                    <form action="javascript:void(0)" id="customDayScheduleForm">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group m-0">
                                        <label for="fromCustomTime" class="c-black">From </label>
                                        <div id="fromCustomTimePicker" data-twelve_hour="true" data-day_text="" data-time_state_text="From">
                                            <input id="fromCustomTime" class="form-control text-center" type="text" placeholder="Select time" value="00:00 AM" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group m-0">
                                        <label for="toCustomTime" class="c-black">To </label>
                                        <div id="toCustomTimePicker" data-twelve_hour="true" data-day_text="" data-time_state_text="To">
                                            <input id="toCustomTime" class="form-control text-center" type="text" placeholder="Select time" value="00:00 AM" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <p class="text-danger">
                                        <span class="c-white">.</span>
                                        <span id="customTimeErrorMsg" class="hidden-element">From time should be less than To time.</span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="setCustomScheduleButton" type="button" class="btn btn-primary btn-raised" data-date="">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Edit custom day schedule -->
    <div class="modal" id="editCustomDateModal">
        <div class="modal-dialog  p-t-50">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Custom schedule</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">Please set a schedule for the day : <span id="editPickedCustomDay"></span></p>

                    <form action="javascript:void(0)" id="editCustomDayScheduleForm">
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group m-0">
                                        <label for="editFromCustomTime" class="c-black">From </label>
                                        <div id="editFromCustomTimePicker" data-twelve_hour="true" data-day_text="" data-time_state_text="From">
                                            <input id="editFromCustomTime" class="form-control text-center" type="text" placeholder="Select time" value="00:00 AM" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group m-0">
                                        <label for="editToCustomTime" class="c-black">To </label>
                                        <div id="editToCustomTimePicker" data-twelve_hour="true" data-day_text="" data-time_state_text="To">
                                            <input id="editToCustomTime" class="form-control text-center" type="text" placeholder="Select time" value="00:00 AM" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <p class="text-danger">
                                        <span class="c-white">.</span>
                                        <span id="editCustomTimeErrorMsg" class="hidden-element">From time should be less than To time.</span>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="deleteCustomScheduleButton" type="button" class="btn btn-danger btn-raised" data-date="">Remove</button>
                    <button id="editCustomScheduleButton" type="button" class="btn btn-primary btn-raised" data-date="">Save</button>
                </div>
            </div>
        </div>
    </div>


</div>