<div id="DeviceCalendarView"  class="m-t-n-10">

    <div class="fixedTabHeader">
        <ul class="nav nav-tabs bg-bluegray" id="device-calendar-navbar">
            <li id="dDateRangeTabHead" class="active text-center device-cal-tabs f-18"><a href="#DateRangeTab" data-toggle="tab" aria-expanded="true">Calendar</a></li>
            <li id="dWeeklyTabHead" class="text-center device-cal-tabs f-18"><a href="#WeeklyTab" data-toggle="tab" aria-expanded="false">Weekly</a></li>
            <li id="dHolidaysTabHead" class="text-center device-cal-tabs f-18"><a href="#HolidaysTab" data-toggle="tab" aria-expanded="false">Holidays</a></li>
        </ul>
    </div>

    <div class="container p-t-50">

        <div class="row">
            <div class="well well-sm m-t-n-5 m-b-5">
                <p class="lead f-24 text-center m-0">
                    <span id="deviceName"></span> <span class="f-14" id="deviceLocationName">-----</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="dTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="DateRangeTab">

                    </div>

                    <div class="tab-pane fade" id="WeeklyTab">

                    </div>
                    <div class="tab-pane fade p-b-55" id="HolidaysTab">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>