<div id="UserPermissionView">

    <div class="container">

        <div class="row">
            <div class="well well-sm m-t-n-15 m-b-5">
                <p class="lead f-24 text-center m-0">
                    <span id="deviceName"></span> <span class="f-14" id="deviceLocationName">-----</span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="inviteUserPermission">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="userTab">

                </div>
            </div>
        </div>
    </div>

</div>