//@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
//@import url(http://fonts.googleapis.com/css?family=Pacifico);

.slider-one-active{
  .steps{
    .step-one{
      span {
        color: #5892fc;
      }
    }
  }
}
.slider-two-active{
  .steps{
    .step-two{
      span {
        color: #5892fc;
      }
    }
  }
}
.slider-three-active{
  .steps{
    .step-three{
      span {
        color: #5892fc;
      }
    }
  }
}


.progress-bar-container {
  width: 75%;
  position: relative;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.steps {
  margin-bottom: 10px;
  position: relative;
  height: 25px;
}

.steps > div {
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  height: 25px;
  padding: 0 5px;;
  display: inline-block;
  width: 80px;
  text-align: center;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.steps > div > span {
  line-height: 25px;
  height: 25px;
  margin: 0;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.steps > div > .liner {
  position: absolute;
  height: 2px;
  width: 0%;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background: #999;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.step-one {
  left: 0;
}

.step-two {
  left: 50%;
  /* clip: rect(0, 0px, 25px, 0px); */
}

.step-three {
  left: 100%;
  /* clip: rect(0, 0px, 25px, 0px); */
}

.line {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: relative;
  border-radius: 10px;
  overflow: visible;
  margin-bottom: 20px;
}

.line .dot-move {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.line .dot {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  left: 0;
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(-50%, -50%) scale(.5);
  -ms-transform: translate(-50%, -50%) scale(.5);
  transform: translate(-50%, -50%) scale(.5);
}

.line .dot.zero {
  left: 0%;
  background: #bbb;
}

.progress-bar-container.slider-one-active .dot.zero {
  background: #5892fc;
}

.line .dot.center {
  left: 50%;
  background: #bbb
}

.line .dot.full {
  left: 100%;
  background: #bbb
}

.slider-ctr {
  width: 100%;
  overflow: hidden;
}

.slider {
  overflow: hidden;
  width: 1200px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(0px) scale(1);
  -ms-transform: translate(0px) scale(1);
  transform: translate(0px) scale(1);
}

.progress-bar-container.slider-one-active .slider-two,
.progress-bar-container.slider-one-active .slider-three {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.progress-bar-container.slider-two-active .slider-one,
.progress-bar-container.slider-two-active .slider-three {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.progress-bar-container.slider-three-active .slider-one,
.progress-bar-container.slider-three-active .slider-two {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.slider-one,
.slider-two,
.slider-three {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.slider-form {
  float: left;
  width: 400px;
  text-align: center;
}

.slider-form h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  color: #999;
  position: relative;
}

.slider-form h2 .yourname {
  font-family: 'Pacifico', sans-serif;
}

.slider-form h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5;
  color: #999;
  position: relative;
}

.slider-form h3 .balapa {
  font-family: 'Pacifico', sans-serif;
  display: inline-block;
  color: #5892fc;
  text-decoration: none
}

.slider-form [type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  background: #fafafa;
  border: 1px solid transparent;
  color: #777;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 99;
}

.slider-form [type="text"]:focus {
  background: #fcfcfc;
  border: 1px solid #ddd;
}

.slider-form button,
.reset {
  display: inline-block;
  text-decoration: none;
  background: #5892fc;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
}

/*  emot */

.label-ctr {
  margin-bottom: 50px;
}

label.radio {
  height: 55px;
  width: 55px;
  display: inline-block;
  margin: 0 10px;
  background: transparent;
  position: relative;
  border-radius: 50%;
  cursor: pointer
}

label.radio input {
  visibility: hidden
}

label.radio input:checked + .emot {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

label.radio input:checked + .emot,
label.radio input:checked + .emot .mouth {
  border-color: #5892fc;
}

label.radio input:checked + .emot:before,
label.radio input:checked + .emot:after {
  background: #5892fc;
}

label.radio .emot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fafafa;
  border-radius: 50%;
  border: 2px solid #ddd;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

label.radio .emot:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 5px;
  height: 10px;
  background: #ddd;
}

label.radio .emot:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 5px;
  height: 10px;
  background: #ddd;
}

label.radio .emot .mouth {
  position: absolute;
  bottom: 10px;
  right: 15px;
  left: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #ddd;
  background: transparent;
  clip: rect(0, 35px, 10px, 0);
}

label.radio .emot .mouth.smile {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

label.radio .emot .mouth.sad {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

/*	center */

.progress-bar-container.center .line .dot-move {
  left: 50%;
  -webkit-animation: .3s anim 1;
}

.progress-bar-container.center .line .dot.center {
  background: #5892fc;
}

.progress-bar-container.center .slider {
  -webkit-transform: translate(-400px);
  -ms-transform: translate(-400px);
  transform: translate(-400px);
}

.progress-bar-container.center .step-two {
  clip: rect(0, 100px, 25px, 0px);
}

.progress-bar-container.center .step-one .liner {
  width: 100%;
}

/*	full */

.progress-bar-container.full .line .dot-move {
  left: 100%;
  -webkit-animation: .3s anim 1;
}

.progress-bar-container.full .line .dot.full {
  background: #5892fc;
}

.progress-bar-container.full .slider {
  -webkit-transform: translate(-800px);
  -ms-transform: translate(-800px);
  transform: translate(-800px);
}

.progress-bar-container.full .step-two,
.progress-bar-container.full .step-three {
  clip: rect(0, 100px, 25px, 0px);
}

.progress-bar-container.full .step-one .liner,
.progress-bar-container.full .step-two .liner {
  width: 100%;
}


/*
.bs-wizard {margin-top: 10px;}

/!*Form Wizard*!/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-info  {color: #B98F1F;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/!*END Form Wizard*!/*/
