@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative !important;
    padding-left: 50% !important;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
    Label the data
    */
  td:nth-of-type(1):before { content: "Tag Name"; }
  td:nth-of-type(2):before { content: "defaultTag1"; }
  td:nth-of-type(3):before { content: ""; }
  td:nth-of-type(4):before { content: ""; }
  td:nth-of-type(5):before { content: ""; }
  td:nth-of-type(6):before { content: ""; }
  td:nth-of-type(7):before { content: ""; }
  td:nth-of-type(8):before { content: ""; }
  td:nth-of-type(9):before { content: ""; }
  td:nth-of-type(10):before { content:""; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    padding: 0;
    margin: 0;
    width: 320px; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    width: 495px;
  }
}
      