/*LoginView*/
.customInput{
  background-color: #ADD9E3;
  color: rgba(0,0,0, 0.87);
  border-radius: 5px;
}

.customBtn{
  border-radius: 5px;
  background-color: #EAF5F7;
}
.c-w{
  color: white;
}
.Pb-10{
  padding-bottom: 10% !important;
}
.pt-10{
  padding-top: 10% !important;
}
.c-equal{
  height:33.3%;
}
.c-h-30{
  height: 30%;
}
.c-h-50{
  height: 50%;
}
.c-h-40{
  height: 40%;
}
.r-equal{
  height:100%;
}
html,body,.fullHeight,#appContent>div,#appContent>div>section,#appContent>section,#appContent>section>#ContentRegion,#appContent>section>#ContentRegion>div ,#appContent>div>section>#ContentRegion,#appContent>div>section>#ContentRegion>div  {
  height:100% !important;
  min-height:100% !important;
}

.centerItems{
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

#userId::-webkit-input-placeholder {
  color: #5c6b6d;
}

#userId:-moz-placeholder { /* Firefox 18- */
  color: #5c6b6d;
}

#userId::-moz-placeholder {  /* Firefox 19+ */
  color: #5c6b6d;
}

#userId:-ms-input-placeholder {
  color: #5c6b6d;
}
#inputPassword::-webkit-input-placeholder {
  color: #5c6b6d;
}

#inputPassword:-moz-placeholder { /* Firefox 18- */
  color: #5c6b6d;
}

#inputPassword::-moz-placeholder {  /* Firefox 19+ */
  color: #5c6b6d;
}

#inputPassword:-ms-input-placeholder {
  color: #5c6b6d;
}