<div id="HeaderView">

    <nav class="navbar bg-bluegray navbar-fixed-top">
        <div class="container">
            <div class="navbar-header text-center">

                <span id="backHeaderButton" class="goBackHeaderButton pull-left pointerCursor">
                    <i class="fa fa-angle-left f-40"></i>
                </span>

                <button type="button" class="navbar-toggle collapsed navbar-menu-button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#appliance"><img class="m-t-5 hidden-sm hidden-md hidden-lg" src="assets/img/WhiteHeaderLogo.png"></a>
                <a href="#appliance"><img class="m-t-5 m-l-30 hidden-xs" src="assets/img/WhiteHeaderLogo.png"></a>

            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
                    <li class="menuOptions"><a href="#appliance">My Appliances</a></li>
                    <li class="menuOptions"><a href="#user-approval">Pending Approvals</a></li>
                    <!--<li class="menuOptions"><a href="#user-removal">Revoke Access</a></li>-->
                    <li class="menuOptions"><a href="#about">About</a></li>
                    <li class="menuOptions"><a href="#settings">Settings</a></li>
                    <li id="logoutButton" class="menuOptions"><a href="javascript:void(0)">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>


