<div id="AddHolidayView" class="row">
    <div class="well well-sm collapse filter-panel" id="addHolidayCollapse">

        <div>
            <p class="lead m-0">
                New Holiday
                <button type="button" class="btn btn-default btn-xs pull-right"
                        data-toggle="collapse" data-target="#addHolidayCollapse">
                    <i class="fa fa-close f-18"></i>
                </button>
            </p>
        </div>

        <form class="form-horizontal" action="javascript:void(0)" id="addHolidayForm">

            <div class="form-group m-0">
                <div id="selectHolidayDateDiv">

                </div>
            </div>
            <div class="form-group m-0">
                <label for="holidayDesc" class="control-label col-sm-3">Holiday Name</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="holidayDesc" placeholder="Holiday Name" name="holidayDesc" required>
                </div>
            </div>
            <div class="form-group m-0 text-center">
                <button class="btn bg-primarycolor c-white btn-raised" type="submit">
                    Add new holiday
                </button>
            </div>

        </form>
    </div>
    <div>
        <button id="showAddHolidayFormButton" class="btn btn-default btn-fab btn-raised bottom-fixed-fab z-index-10" data-toggle="collapse" data-target="#addHolidayCollapse">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>