/*CalendarView*/

.bootstrap-datetimepicker-widget a[data-action]{
  padding: 0 !important;
}
.btn, .input-group-btn .btn{
  margin: 0 !important;
}

.bootstrap-datetimepicker-widget table td{
  padding: 0 3px 0 0 !important;
  width: 0 !important;
  height: 30px !important;
  line-height: 0 !important;
}

.bootstrap-datetimepicker-widget table td span{
  margin:0 !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.custom-divider{
  height: 1px;
  margin: 20px 0 20px 0px;
  overflow: hidden;
  background-color: #000000;
}

.datepicker-switch{
  font-size: 16px !important;
}
.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th{
  font-size: 20px !important;
}
.cus-border{
  border: 1px solid #f3f3f3;
}
//----------------- Legend -----------------
.legendText{
  line-height: 40px !important;
}
.legendDate{
  height: 50px;
  width: 50px;
  color: #000;
  span{
    font-size: 18px;
    border-width: 2px;
    border-style: solid;
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
  }
}
.weeklyScheduleSpan{
  border-color: @blue;
}
.dayScheduleSpan{
  border-color: @blue;
  background-color: @teal;
  color: white;
}
.todayTd{
  .todaySpan{
    border-color: @blue;
    background-color: white;
    color: black;
  }
  .todaySpan:after{
    content: "";
    border: 4px solid #ffb733;
    border-radius: 30px;
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    left: -6px;
    top: -43px;
  }
}
.holidaySpan{
  border-color: #607d8b;
  background-color: #7f96a0;
  color: white;
}