<div id="WeeklyView">

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="text-center">
                <p class="lead f-20 c-white">Weekly Schedule</p>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Sunday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="sunWeeklyButton" data-target="sundayCollapse" data-day="Sun">
                                                    <label for="sunWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0" id="sundayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromSunTime" class="c-black m-0">From </label>
                                                                    <div id="fromSunTimePicker" data-twelve_hour="true" data-day_text="Sunday" data-time_state_text="From">
                                                                        <input id="fromSunTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="0:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toSunTime" class="c-black m-0">To </label>
                                                                    <div id="toSunTimePicker" data-twelve_hour="true" data-day_text="Sunday" data-time_state_text="To">
                                                                        <input id="toSunTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="0:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="sunTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Monday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="monWeeklyButton" data-target="mondayCollapse" data-day="Mon">
                                                    <label for="monWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0" id="mondayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromMonTime" class="c-black m-0">From </label>
                                                                    <div id="fromMonTimePicker" data-twelve_hour="true" data-day_text="Monday" data-time_state_text="From">
                                                                        <input id="fromMonTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="8:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toMonTime" class="c-black m-0">To </label>
                                                                    <div id="toMonTimePicker" data-twelve_hour="true" data-day_text="Monday" data-time_state_text="To">
                                                                        <input id="toMonTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="9:00 PM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="monTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Tuesday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="tueWeeklyButton" data-target="tuesdayCollapse" data-day="Tue">
                                                    <label for="tueWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0"  id="tuesdayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromTueTime" class="c-black m-0">From </label>
                                                                    <div id="fromTueTimePicker" data-twelve_hour="true" data-day_text="Tuesday" data-time_state_text="From">
                                                                        <input id="fromTueTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="8:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toTueTime" class="c-black m-0">To </label>
                                                                    <div id="toTueTimePicker" data-twelve_hour="true" data-day_text="Tuesday" data-time_state_text="To">
                                                                        <input id="toTueTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="9:00 PM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="tueTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Wednesday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="wedWeeklyButton" data-target="wednesdayCollapse" data-day="Wed">
                                                    <label for="wedWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0" id="wednesdayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromWedTime" class="c-black m-0">From </label>
                                                                    <div id="fromWedTimePicker" data-twelve_hour="true" data-day_text="Wednesday" data-time_state_text="From">
                                                                        <input id="fromWedTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="8:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toWedTime" class="c-black m-0">To </label>
                                                                    <div id="toWedTimePicker" data-twelve_hour="true" data-day_text="Wednesday" data-time_state_text="To">
                                                                        <input id="toWedTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="9:00 PM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="wedTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Thursday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="thuWeeklyButton" data-target="thursdayCollapse" data-day="Thu">
                                                    <label for="thuWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0" id="thursdayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromThuTime" class="c-black m-0">From </label>
                                                                    <div id="fromThuTimePicker" data-twelve_hour="true" data-day_text="Thursday" data-time_state_text="From">
                                                                        <input id="fromThuTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="8:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toThuTime" class="c-black m-0">To </label>
                                                                    <div id="toThuTimePicker" data-twelve_hour="true" data-day_text="Thursday" data-time_state_text="To">
                                                                        <input id="toThuTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="9:00 PM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="thuTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Friday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="friWeeklyButton" data-target="fridayCollapse" data-day="Fri">
                                                    <label for="friWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0" id="fridayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromFriTime" class="c-black m-0">From </label>
                                                                    <div id="fromFriTimePicker" data-twelve_hour="true" data-day_text="Friday" data-time_state_text="From">
                                                                        <input id="fromFriTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="8:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toFriTime" class="c-black m-0">To </label>
                                                                    <div id="toFriTimePicker" data-twelve_hour="true" data-day_text="Friday" data-time_state_text="To">
                                                                        <input id="toFriTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="9:00 PM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="friTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading bg-bluegray c-white">
                                        <div class="row">
                                            <div class="col-xs-6 text-left b-right-black">
                                                <p class="m-0 text-center text-capitalize f-16">Saturday</p>
                                            </div>
                                            <div class="col-xs-6 text-center power_button_panel_col">
                                                <div class="power_checkbox_div">
                                                    <input type="checkbox" class="power_checkbox weeklySwitch" id="satWeeklyButton" data-target="saturdayCollapse" data-day="Sat">
                                                    <label for="satWeeklyButton" class="switchText"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-body collapse p-t-5 p-l-5 p-r-5 p-b-0" id="saturdayCollapse">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <form action="javascript:void(0)">
                                                    <fieldset>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="fromSatTime" class="c-black m-0">From </label>
                                                                    <div id="fromSatTimePicker" data-twelve_hour="true" data-day_text="Saturday" data-time_state_text="From">
                                                                        <input id="fromSatTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="8:00 AM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group m-0 p-0">
                                                                    <label for="toSatTime" class="c-black m-0">To </label>
                                                                    <div id="toSatTimePicker" data-twelve_hour="true" data-day_text="Saturday" data-time_state_text="To">
                                                                        <input id="toSatTime" class="form-control text-center m-0" type="text" placeholder="Select time" value="9:00 PM" readonly>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 text-center">
                                                                <p class="text-danger">
                                                                    <span id="satTimeErrorMsg" class="timeErrorMsg hidden-element">From time should be less than To time.</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>