<div id="AddApplianceView">

    <div class="row">
        <div class="col-xs-12">
            <div class="text-center p-t-10">
                <div id="addDevicePanel" class="collapse">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10">
                                    <p class="lead m-0 text-left">New Appliance</p>
                                </div>
                                <div class="col-xs-2">
                                    <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#addDevicePanel">
                                        <i class="fa fa-close f-18"></i>
                                    </button>
                                </div>
                            </div>

                            <form class="form-horizontal" role="form" action="javascript:void(0);" id="addNewDeviceForm">

                                <!-- form group [rows] -->
                                <div class="form-group m-0 p-t-10">
                                    <input placeholder="Serial No" type="number" class="form-control" id="serialNo" name="serialNo" required>
                                </div>

                                <div class="form-group m-0">
                                    <button type="button" class="btn btn-default f-24" id="scanQR">
                                        <i class="fa fa-qrcode f-30" aria-hidden="true"></i>
                                        Scan QR
                                    </button>
                                </div>

                                <div class="form-group m-0">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-raised bg-primarycolor c-white">
                                            Add to My Appliances
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button id="showAddDeviceFormButton" class="btn btn-default btn-fab btn-raised bottom-fixed-fab z-index-10" data-toggle="collapse" data-target="#addDevicePanel">
                    <i class="fa fa-plus"></i>
                </button>

            </div>
        </div>
    </div>

    <!-- Modal for appliance name and location change -->
    <div class="modal" id="addDeviceDataModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Appliance details</h4>
                </div>
                <div class="modal-body">

                    <form role="form" action="javascript:void(0)" id="addDeviceDataForm">
                        <fieldset>
                            <div class="form-group">
                                <label for="deviceName" class="control-label">Appliance Name</label>
                                <input id="deviceName" class="form-control" name="deviceName" type="text">
                            </div>

                            <div class="form-group">
                                <label for="deviceLocation" class="control-label">Appliance Location</label>
                                <input id="deviceLocation" class="form-control" name="deviceLocation" type="text">
                            </div>

                            <div class="form-group text-right">
                                <button id="submitAddDeviceData" type="submit" class="btn btn-primary btn-raised">Save</button>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>