<div id="HolidayListView">
    <div class="well well-sm p-5">
        <table class="table table-condensed" id="holidayListTable">
            <thead>
            <tr>
                <th>Date</th>
                <th>Day</th>
                <th>Holiday</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="holidayListTBody">

            </tbody>
        </table>
    </div>
</div>