<div id="LandingPageView">

    <div class="container">
        <div class="row">
            <br><br><br><br><br><br>
            <div class="col-xs-12">
                <img class="img-responsive center-block" src="./assets/img/WhiteHeaderLogo.png">
            </div>
            <br><br><br><br><br><br>
            <div class="col-xs-12 text-center well">
                <h1 class="comingSoon">Coming Soon</h1>
            </div>
        </div>
    </div>

</div>