<div id="HolidayView">

    <div class="row">
        <div class="col-xs-12">
            <p class="lead f-17 c-white">Holiday Schedule</p>
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading bg-bluegray c-white">
                            <div class="row">
                                <div class="col-xs-12 text-center power_button_panel_col">
                                    <div class="power_checkbox_div">
                                        <input type="checkbox" class="power_checkbox holidaySwitch" id="holidaySwitch"  data-target="holidayCollapse">
                                        <label for="holidaySwitch" class="switchText"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body collapse p-b-5" id="holidayCollapse">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form action="javascript:void(0)">
                                        <fieldset>
                                            <div class="row text-center">
                                                <div class="col-xs-6">
                                                    <div class="form-group m-0 p-0">
                                                        <label for="fromHolTime" class="c-black">From </label>
                                                        <div id="fromHolTimePicker" data-twelve_hour="true" data-day_text="Holiday" data-time_state_text="From">
                                                            <input id="fromHolTime" class="form-control text-center" type="text" placeholder="Select time" value="00:00 AM" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group m-0 p-0">
                                                        <label for="toHolTime" class="c-black">To </label>
                                                        <div id="toHolTimePicker" data-twelve_hour="true" data-day_text="Holiday" data-time_state_text="To">
                                                            <input id="toHolTime" class="form-control text-center" type="text" placeholder="Select time" value="00:00 AM" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 text-center">
                                                    <p class="text-danger">
                                                        <span class="c-white">.</span>
                                                        <span id="holidayTimeErrorMsg" class="hidden-element">From time should be less than To time.</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addHolidayCollapseRegion"></div>

    <div id="holidayListTableRegion"></div>

</div>