<div id="UserPermissionInviteView">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center p-t-10">
                <div id="inviteUserPermissionPanel" class="collapse">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-8">
                                    <p class="lead m-0 text-left">New User</p>
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#inviteUserPermissionPanel">
                                        <i class="fa fa-close f-18"></i>
                                    </button>
                                </div>
                            </div>
                            <form class="form-inline" role="form" action="javascript:void(0);" id="inviteNewUserPermissionForm">
                                <div class="form-group m-0">
                                    <input placeholder="Email Id" type="text" class="form-control" id="subOwnerEmailId" name="subOwnerEmailId" required>
                                </div>

                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-raised bg-primarycolor c-white">
                                            Invite User
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <button id="showInviteUserPermissionFormButton" class="btn btn-default btn-fab btn-raised bottom-fixed-fab z-index-10" data-toggle="collapse" data-target="#inviteUserPermissionPanel">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>