div.datepicker{

  width: inherit !important;

  div{
    table{
      width: 100% !important;
    }
  }
}

.datepicker table tr td, .datepicker table tr th{
  width: 50px !important;
  height: 50px !important;
  font-size: 18px !important;
  padding: 2px !important;
}

/*.datepicker .datepicker-days table tr td{
  border-radius: 50% !important;
}*/

#multiDateCalendar{
  .datepicker tfoot tr th:hover {
    background: none !important;
  }
  .datepicker tfoot tr th:active {
    background: #eeeeee !important;
  }

}

@media screen and (max-width:768px){
  .datepicker-dropdown{
    left: 0 !important;
  }
}

.datepicker table tr td span.calDate{
  width: 40px !important;
  height: 40px !important;
  line-height: 37px !important;
  float: none !important;
  display: inline-block !important;
  border-radius: 50%;
}

.datepicker table tr td.highlighted {
  color: #000;
  background-color: white !important;
  border-color: white !important;
  border-radius: 0 !important;
  span.calDate{
    border-width: 2px !important;
    border-style: solid;
    border-color: @blue;
  }
}

//==============  Active day class properties ============
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.open > .dropdown-toggle.datepicker table tr td.active,
.open > .dropdown-toggle.datepicker table tr td.active.highlighted{
  color: #000;
  background-color: white !important;
  border-color: white !important;

  span.calDate{
    border-width: 2px !important;
    border-style: solid;
    border-color: @blue !important;
    background-color: @cyan !important;
    color: white !important;
  }
}
//==============  Custom day class properties ============
.datepicker table tr td.activeDatesCustom:active,
.datepicker table tr td.activeDatesCustom.highlighted:active,
.datepicker table tr td.activeDatesCustom.activeDatesCustom,
.datepicker table tr td.activeDatesCustom.highlighted.activeDatesCustom,
.open > .dropdown-toggle.datepicker table tr td.activeDatesCustom,
.open > .dropdown-toggle.datepicker table tr td.activeDatesCustom.highlighted{
  color: #000;
  background-color: white !important;
  border-color: white !important;

  span.calDate{
    border-width: 2px !important;
    border-style: solid;
    border-color: @blue !important;
    background-color: @teal !important;
    color: white !important;
  }
}
//==============  Holiday day class properties ============
.datepicker table tr td.activeDatesHoliday:active,
.datepicker table tr td.activeDatesHoliday.highlighted:active,
.datepicker table tr td.activeDatesHoliday.activeDatesHoliday,
.datepicker table tr td.activeDatesHoliday.highlighted.activeDatesHoliday,
.open > .dropdown-toggle.datepicker table tr td.activeDatesHoliday,
.open > .dropdown-toggle.datepicker table tr td.activeDatesHoliday.highlighted{
  color: #000;
  background-color: white !important;
  border-color: white !important;

  span.calDate{
    border-width: 2px !important;
    border-style: solid;
    border-color: #607d8b !important;
    background-color: #7f96a0 !important;
    color: white !important;
  }
}

.datepicker table tr td.today {
  color: #000;
  background-color: white !important;
  border-color: white !important;

  span.calDate{
    background-color: white !important;
  }
  span.calDate:after{
    content: "";
    border: 4px solid #ffb733;
    border-radius: 30px;
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    left: -6px;
    top: -43px;
  }
}

.datepicker table tr td.old,
.datepicker table tr td.new{
  color : #bbbbbb !important;
}

.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .open > .dropdown-toggle.datepicker table tr td.active:hover, .open > .dropdown-toggle.datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .open > .dropdown-toggle.datepicker table tr td.active:focus, .open > .dropdown-toggle.datepicker table tr td.active.highlighted:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus, .open > .dropdown-toggle.datepicker table tr td.active.focus, .open > .dropdown-toggle.datepicker table tr td.active.highlighted.focus{
  color: #000 !important;
}

.modal{
  padding-top: 100px;
}