.togglebutton label input[type=checkbox]:checked + .toggle{
  background-color: #78ff7e !important;
}

.togglebutton label input[type=checkbox]:checked + .toggle:after{
  background-color: #4CAF50;
}
