<div id="ApplianceListView">
    <div class="row">
        <div class="col-xs-12">

            <h3 class="c-white text-center m-t-0">My Appliances</h3>

            <div class="m-t-20 hidden-element" id="deviceListDiv">

                <button id="refreshDeviceList" class="btn btn-default btn-raised btn-xs pull-right z-index-10 refreshTableButton" type="button"><i class="fa fa-refresh f-16"></i></button>

                <table class="table dt-responsive" id="deviceList">
                    <thead>
                    <tr>
                        <th class="all text-center">Set mode</th>
                        <th class="all">Appliance</th>
                        <th class="text-center tablet-p mobile-l mobile-p">More</th>
                        <th class="desktop tablet-l">Setting</th>
                        <th class="desktop tablet-l">Guest Users</th>
                        <th class="desktop tablet-l">Calendar</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

                <div id="deviceNotification"></div>

            </div>
        </div>
    </div>
</div>