<div id="UserAccessListView">

    <div class="row">
        <div class="col-xs-12">

            <h4 class="c-white text-center m-t-5 m-b-10">Guest Users</h4>

            <div class="p-t-10">

                <div id="initMsgDiv" class="well well-sm">
                    <p class="text-center">No guest users.</p>
                </div>

                <div id="tableDiv" class="hidden-element">
                    <button id="refreshSubUserList" class="btn btn-default btn-raised btn-xs pull-right z-index-10 refreshTableButton" type="button"><i class="fa fa-refresh f-16"></i></button>

                    <table class="table dt-responsive" id="userAccessTable">
                        <thead>
                        <tr>
                            <th class="all text-center">Name</th>
                            <th class="all text-center">Revoke</th>
                            <th class="text-center tablet-p mobile-l mobile-p">More</th>
                            <th class="desktop tablet-l">Email</th>
                            <th class="desktop tablet-l">Company</th>
                            <th class="desktop tablet-l">Phone</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>