<div id="SettingsView">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div class="well well-lg">
                    <form class="form-horizontal" role="form" action="javascript:void(0);">
                        <fieldset>
                            <legend>Settings</legend>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="row" style="border-bottom: 1px solid;opacity: 0.08;"></div>
                                    <div class="form-group">
                                        <h4 class="col-xs-6">Notifications</h4>
                                        <div class="col-xs-6 text-center">
                                            <div class="power_checkbox_div">
                                                <input type="checkbox" class="power_checkbox" id="notificationSettings">
                                                <label for="notificationSettings"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" style="border-bottom: 1px solid;opacity: 0.08;"></div>



                                <div class="row">

                                    <div class="form-group">
                                        <h4 class="col-xs-6">Password</h4>
                                        <div class="col-xs-6 text-center">
                                            <a href="#setting-change-pass" class="btn btn-md" style="background-color: #009688;color: #ffffff !important;">Change</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="border-bottom: 1px solid;opacity: 0.08;"></div>
                                <div class="row">

                                    <div class="form-group">
                                        <h4 class="col-sm-2">Domain</h4>
                                        <div class="col-md-10">
                                            <div class="radio radio-primary">
                                                <label class=""> <input type="radio" class="domainRadioButton" name="optionsRadios" id="klarioIN" value="klarioINValue"> Klario.in </label>
                                                <label class=""> <input type="radio" class="domainRadioButton" name="optionsRadios" id="klarioNET" value="klarioNETValue"> Klario.net </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="border-bottom: 1px solid;opacity: 0.08;"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>