<div id="ApplianceSettingsView">

    <div class="container">
        <div class="row">
            <div class="well well-sm m-t-n-10">
                <p class="lead f-24 text-center m-0">
                    <span id="deviceName"></span> <span class="f-14" id="deviceLocationName">-----</span>
                </p>
            </div>

            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <div class="well" id="editApplianceDiv">
                    <div class="row">
                        <div class="col-xs-7 p-r-0">
                            <h5 id="applianceNameDis" class="">Name : Not Available</h5>
                            <h5 id="applianceLocationDis" class="">Location : Not Available</h5>
                        </div>
                        <div class="col-xs-5 text-center p-t-15 p-l-0">
                            <button class="btn text-center btn-raised btn-sm btn-primary" id="editApplianceInfo">change</button>
                        </div>

                    </div>

                    <hr class="m-0">

                    <div class="row">
                        <div class="col-xs-8">
                            <h5 id="applianceNotificationSettingsText">Appliance Notifications</h5>
                        </div>
                        <div class="col-xs-4 text-center">
                            <form class="form-horizontal" role="form" action="javascript:void(0);">
                                <fieldset>
                                    <div class="form-group m-0 p-t-5">
                                        <div class="power_checkbox_div">
                                            <input type="checkbox" class="power_checkbox" id="applianceNotificationSettings">
                                            <label for="applianceNotificationSettings"></label>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <hr class="m-0">

                    <div class="row p-t-20">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <button id="removerApplianceFromMyList" class="btn btn-sm btn-block btn-raised btn-danger">Remove Appliance</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="col-xs-12 well">

                    <legend class="text-center">Status</legend>

                    <div class="col-xs-12">
                        <h5 id="applianceSoftwareVer"></h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="hostname"></h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="ipAddress">Not Available</h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="macAddress"></h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="ssid"></h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="txBytes"></h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="rxBytes"></h5>
                    </div>

                    <div class="col-xs-12">
                        <h5 id="rssi"></h5>
                    </div>



                </div>

            </div>
        </div>
    </div>


    <div class="modal" id="applianceInfoEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                </div>
                <div class="modal-body">

                    <form class="bs-component" action="javascript:void(0);" id="applianceSettingsForm">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label" for="applianceName">Appliance Name</label>
                                <input type="text" class="form-control" id="applianceName" name="applianceName">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="applianceLocation">Appliance Location</label>
                                <input type="text" class="form-control" id="applianceLocation" name="applianceLocation">
                            </div>
                            <div class="form-group text-right">
                                <button id="applianceInfoEditBtn" type="submit" class="btn btn-primary btn-raised" data-date="">Save</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>