.body-bg{
  background-color: #00acc4;
}

.z-index-10{
  z-index: 10 !important;
}

.power_checkbox_div{
  label{
    display: inline;
  }
  input[type="checkbox"]{
    display: none;
  }
  .power_checkbox + label:after{
    background-image: url("../assets/img/checkbox_unchecked.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transition-duration: 0.3s;
    width: 30px;
    height: 30px;
    content: '';
  }
  .power_checkbox:checked + label:after{
    background-image: url("../assets/img/checkbox_checked.png");
  }

}