.b-top-black{
  border-top: 1px solid black;
}
.b-right-black{
  border-right: 1px solid black;
}
.b-bottom-black{
  border-bottom: 1px solid black;
}
.b-left-black{
  border-left: 1px solid black;
}

.b-top-white{
  border-top: 1px solid white;
}
.b-right-white{
  border-right: 1px solid white;
}
.b-bottom-white{
  border-bottom: 1px solid white;
}
.b-left-white{
  border-left: 1px solid white;
}