//@import url(https://fonts.googleapis.com/css?family=Muli);
/* latin (MULI) */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  //src: local('Muli'), url(https://fonts.gstatic.com/s/muli/v7/zscZFkjVRGyfQ_Pw-5exXPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  src: url('../assets/fonts/Muli-regular/Muli-regular.eot');
  src: url('../assets/fonts/Muli-regular/Muli-regular.eot?#iefix') format('embedded-opentype'),
  local('Muli'),
  local('Muli-regular'),
  url('../assets/fonts/Muli-regular/Muli-regular.woff2') format('woff2'),
  url('../assets/fonts/Muli-regular/Muli-regular.woff') format('woff'),
  url('../assets/fonts/Muli-regular/Muli-regular.ttf') format('truetype'),
  url('../assets/fonts/Muli-regular/Muli-regular.svg#Muli') format('svg');
}

html,
body,
p,
span,
a,
li,
button,
{
  font-family: 'Muli', sans-serif !important;
}

//----------------------------------------------------------------------------------

//@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* latin Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  //src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  src: url('../assets/fonts/Montserrat-regular/Montserrat-regular.eot');
  src: url('../assets/fonts/Montserrat-regular/Montserrat-regular.eot?#iefix') format('embedded-opentype'),
  local('Montserrat-Regular'),
  local('Montserrat-regular'),
  url('../assets/fonts/Montserrat-regular/Montserrat-regular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat-regular/Montserrat-regular.woff') format('woff'),
  url('../assets/fonts/Montserrat-regular/Montserrat-regular.ttf') format('truetype'),
  url('../assets/fonts/Montserrat-regular/Montserrat-regular.svg#Montserrat') format('svg');
}


h1,h2,h3,h4,h5,h6,
p.lead,
.headerText{
  font-family: 'Montserrat', sans-serif !important;
}

