//----  Negative margins

//------- all margins
.m-n-5{
  margin: -5px;
}
.m-n-10{
  margin: -10px;
}
.m-n-15{
  margin: -15px;
}
.m-n-20{
  margin: -20px;
}
.m-n-25{
  margin: -25px;
}
.m-n-30{
  margin: -30px;
}
.m-n-35{
  margin: -35px;
}
.m-n-40{
  margin: -40px;
}
.m-n-45{
  margin: -45px;
}
.m-n-50{
  margin: -50px;
}

//-------- top margins
.m-t-n-5{
  margin-top: -5px;
}
.m-t-n-10{
  margin-top: -10px;
}
.m-t-n-15{
  margin-top: -15px;
}
.m-t-n-20{
  margin-top: -20px;
}
.m-t-n-25{
  margin-top: -25px;
}
.m-t-n-30{
  margin-top: -30px;
}
.m-t-n-35{
  margin-top: -35px;
}
.m-t-n-40{
  margin-top: -40px;
}
.m-t-n-45{
  margin-top: -45px;
}
.m-t-n-50{
  margin-top: -50px;
}

//-------- Bottom margins
.m-b-n-5{
  margin-bottom: -5px;
}
.m-b-n-10{
  margin-bottom: -10px;
}
.m-b-n-15{
  margin-bottom: -15px;
}
.m-b-n-20{
  margin-bottom: -20px;
}
.m-b-n-25{
  margin-bottom: -25px;
}
.m-b-n-30{
  margin-bottom: -30px;
}
.m-b-n-35{
  margin-bottom: -35px;
}
.m-b-n-40{
  margin-bottom: -40px;
}
.m-b-n-45{
  margin-bottom: -45px;
}
.m-b-n-50{
  margin-bottom: -50px;
}

//-------- Left margins
.m-l-n-5{
  margin-left: -5px;
}
.m-l-n-10{
  margin-left: -10px;
}
.m-l-n-15{
  margin-left: -15px;
}
.m-l-n-20{
  margin-left: -20px;
}
.m-l-n-25{
  margin-left: -25px;
}
.m-l-n-30{
  margin-left: -30px;
}
.m-l-n-35{
  margin-left: -35px;
}
.m-l-n-40{
  margin-left: -40px;
}
.m-l-n-45{
  margin-left: -45px;
}
.m-l-n-50{
  margin-left: -50px;
}

//-------- Right margins
.m-r-n-5{
  margin-right: -5px;
}
.m-r-n-10{
  margin-right: -10px;
}
.m-r-n-15{
  margin-right: -15px;
}
.m-r-n-20{
  margin-right: -20px;
}
.m-r-n-25{
  margin-right: -25px;
}
.m-r-n-30{
  margin-right: -30px;
}
.m-r-n-35{
  margin-right: -35px;
}
.m-r-n-40{
  margin-right: -40px;
}
.m-r-n-45{
  margin-right: -45px;
}
.m-r-n-50{
  margin-right: -50px;
}
