table.table{
  width: 100% !important;
}
table.borderLessTable{
  tbody{
    tr{
      td{
        border: none;
      }
    }
  }
}

.hidden-element{
  display: none;
}
.invisible-element{
  visibility: hidden;
}
.invisibleFormControls{
  border: none !important;
  box-shadow: none !important;
}

.dateInputReadonly[disabled],
.dateInputReadonly[readonly]{
  cursor: not-allowed;
  background-color: #ffffff;
  opacity: 1;
}
.text-bold{
  font-weight: bold;
}
.pointerCursor{
  cursor: pointer;
}
.paddingHorLess{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.width50{
  width: 50%;
}
.width25{
  width: 25%;
}

.borderLess{
  border: none !important;
}

.boldText{
  font-weight: bold !important;
}


.displayInlineBlock{
  display: inline-block !important;
}