<div id="LoginView" class="fullHeight">

    <div class="container fullHeight">
        <div class="r-equal row">

            <div class="c-h-30">
                <div class="c-h-50">

                </div>
                <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 ">
                    <!--<h1 class="text-center c-w" style="padding-bottom: 10%">Klario</h1>-->
                    <img class="img-responsive" src="assets/img/login-logo.png">
                </div>
            </div>


            <div class="c-h-40">
                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-3">
                    <div id="errorLogin" class="text-center" style="">
                        <small class="f-16" id="errorLoginText">
                            Incorrect UserName/Password. You are not Authorized
                        </small>
                    </div>
                    <div>
                        <form class="form-horizontal" id="loginForm" action="javascript:void(0)">
                            <fieldset>

                                <div>
                                    <div class="col-md-12">
                                        <input type="text" class="text-center form-control customInput" id="userId" placeholder="EMAIL" name="userId" autocomplete="off" autocorrection="off" autocapitalize="off">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-12">
                                        <input type="password" class="text-center form-control customInput" id="inputPassword" placeholder="PASSWORD" name="inputPassword">
                                    </div>
                                </div>

                                <div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="col-xs-12 btn btn-raised customBtn">SIGN IN</button>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="text-center" style="margin-top: 10px">
                                <label class="c-white" style="font-size:20px">
                                    <input id="rememberUser" class="" type="checkbox" style="width: 20px; height: 20px;position: absolute;margin-left: -20px">  Remember Me</label>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="c-h-30">
                <div class="c-h-30">

                </div>
                <div class="class= col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                    <p class="text-center">
                        <a href="#registration" class="c-white">Register</a>
                    </p>

                    <p class="text-center">
                        <a href="#forgot-pass" class="c-white">Forgot your password ?</a>
                    </p>

                    <p class="text-center">
                        <a href="#global-settings" class="c-white">Settings</a>
                    </p>

                </div>
            </div>

        </div>
    </div>

</div>