<div id="GlobalSettingsView" class="m-t-n-50">

    <div class="container">

        <div class="row">
            <div class="col-xs-3">
                <a href="#login" class="c-white">
                    <i class="fa fa-angle-left f-35 p-t-5"></i>
                </a>
            </div>
            <div class="col-xs-6">
                <p class="f-20   text-center c-white p-t-10"> Settings </p>
            </div>
        </div>

        <div class="row p-t-10">
            <div class="col-xs-12">
                <div class="well well-sm">
                <form class="form-horizontal" action="javascript:void(0)">
                    <fieldset>
                        <div class="form-group m-0">
                            <h4 class="col-sm-3">Domain</h4>
                            <div class="col-sm-9">
                                <div class="radio radio-primary">
                                    <label> <input type="radio" class="domainRadioButton" name="optionsRadios" id="klarioIN" value="klarioINValue"> Klario.in </label>
                                    <label> <input type="radio" class="domainRadioButton" name="optionsRadios" id="klarioNET" value="klarioNETValue"> Klario.net </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-sm-12">
                <div class="well well-lg">
                    <div class="power_checkbox_div">
                        <input type="checkbox" class="power_checkbox" id="new_ch">
                        <label for="new_ch"></label>
                    </div>
                </div>
            </div>
        </div>-->

    </div>

</div>