<div id="UserApprovalView">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="c-white text-center m-t-5 m-b-10">Users Pending Approval</h4>
                <div class="p-t-10">

                    <div id="initMsgDiv" class="well well-sm">
                        <p class="text-center">No pending approvals.</p>
                    </div>
                    <div id="tableDiv" class="hidden-element">

                        <button id="refreshUserApprovalList" class="btn btn-default btn-raised btn-xs pull-right z-index-10 refreshTableButton" type="button"><i class="fa fa-refresh f-16"></i></button>

                        <table class="table dt-responsive" id="userRequestTable">
                            <thead>
                            <tr>
                                <th class="text-center tablet-p mobile-l mobile-p"><i class="fa fa-info-circle"></i></th>
                                <th class="all">Name</th>
                                <th class="all">Device</th>
                                <th class="desktop tablet-l">Location</th>
                                <th class="desktop tablet-l">Email</th>
                                <th class="desktop tablet-l">Company</th>
                                <th class="desktop tablet-l">Phone</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>