<div id="AboutView">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <div class="well well-lg">
                    <h2 class="text-center">Klario Management App</h2>
                    <legend class="f-18 text-center">Version : #APP_VERSION#</legend>

                    <!--<br>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="fromTime">From : </label>
                            <div id="timePickerDiv" class="col-sm-9" data-theme="dark" data-twelve_hour="true">
                                <input id="fromTime" class="form-control" type="text" placeholder="Select Time" readonly>
                            </div>
                        </div>
                    </form>
                    <br>-->

                    <p class="p-t-40 text-justify">
                        To enhance the performance of the app and help support you better we collect stack traces in case a crash occurs.
                        The data is anonymous and there is no personal information or personally identifying information that is sent across.
                        The data is used by our internal team only and we will not share the data with any third party ever.
                        The average stack trace is about 20KB and will help us understand the nature of the problem.
                    </p>

                    <p class="text-center">&copy; Klario</p>
                </div>
            </div>
        </div>
    </div>
</div>