/*ApplianceView*/

.bottom-fixed-fab{
  position: fixed !important;
  right: 15px !important;
  bottom: 15px !important;
}

#deviceList{
  tr{
    .deviceNameCol:before{
      //content: none !important;
      //padding-left: 0
    }
  }
}

.deviceStatusOverlayMsg{
  position: fixed;
  z-index: 2;
}
.overlayMsgError{
  background: @red;
}
.overlayMsgSuccess{
  background: @green;
}

.in-progress-label{
  border-radius: 15px !important;
  padding: 5px 5px !important;
  margin: -10px !important;
}